<div  class="container-fluid" class="head">
	<div class="row">
		<img class="center-block" src="../recursos/logo5la5.png" style="height:300px;margin-bottom: 40px;">
	</div>
	<div id="outer" class="row">
		  <div class="inner"><button type="submit" class="btn btn-warning" onClick="return false;" >Menú</button></div>
		  <div class="inner">
		  	<button type="submit" class="btn btn-warning" onClick="return false;">Platos a la carta</button>
		  </div>
	  	<div class="inner"><button class="btn btn-warning">Snacks</button></div>
	</div>
</div>


