<div class="container">
	<div class="row">
		<br>
		<p>Mis Órdenes (0 platos)</p>
		<div style="height:0;width:320px;border:0;border-bottom:1px;border-style: solid;border-color: #E8B725"></div>
	</div>
	<div class="row">
		<br>
		<img align="middle" src="../recursos/shoppingCart.png" style="margin-bottom: 10px;margin-left: 100px">
		<p style="margin-left: 70px; color: #AF133A">Agrega platos al carrito</p>
		<div style="height:0;width:280px;border:0;border-bottom:2px;border-style: solid;border-color: #E8B725; margin-left: 20px"></div>
	</div>
	<div class="row">
		<br>
		<p style="margin-left: 70px;">Subtotal S/. 0</p>
		<div style="height:0;width:320px;border:0;border-bottom:1px;border-style: solid;border-color: #E8B725"></div>
	</div>
	<div class="row">
		<br>
		<div>El recojo del menú empieza a las 11:00 am</div>
	</div>
	<div class="row">
		<br>
		<button  type="submit" class="btn btn-danger" style="margin-left: 100px">Comprar</button>
	</div>
</div>