<app-header></app-header>
<div class="container-fluid" style="background-color: #AF133A;">
	<div class="container" style="background-color: #F6DFEF; width: 1000px">
		<div class="col-md-3">
			<!--info de usuario -->
			<app-usuario></app-usuario>
		</div>
		<div class="col-md-5" style="border:0;border-left: 1px;;border-right:1px;border-style: solid;border-color: #E8B725" >
			<!-- <app-listaPlatos></app-listaPlatos> -->
			<app-plato></app-plato>
		</div>
		<div class="col-md-2">
			<!--carrito de compras -->
			<app-carrito></app-carrito>
		</div>
	</div>
</div>
<app-footer></app-footer>
